body{
    background-color: bisque;
}

.principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a[href*="edu"]{
    background-color: gold;
}

h1:hover{
    color: red;
}

#informacion{
    text-align: center;
}